#about {
    pointer-events: initial;
	overflow-y: auto;
	height: calc(100vh - 200px);
	padding: 1em max(32px, calc(0.5 * max(0px, calc(100% - 800px)))) 2em;
}


.profile {
    display: flex;
    flex-direction: row;
}
.profile-left {
    width: 240px;
    height: 240px;
    cursor: pointer;
    overflow: hidden;
}

#pixel-art{
    width: 100%;
    height: 100%;
    display: block;
}
.profile-right{
    padding-top: 2em;
    padding-left: 1em;
    flex-grow: 1;
}

.name {
    font-weight: bold;
    margin-bottom: 1em;
}

.block {
    margin-bottom: 1em;
}

#about h2 {
    margin: 1em 0 0.75em 0;
}

#about h3{
    margin: 0;
}

.profile dt,
.likes dt,
.accounts dt{
    float: left;
}

.accounts dt a{
    text-decoration: none;
}

.naver{
    color:green;
}

.github{
    color:black;
}

.accounts dt a:hover{
    text-decoration: underline;
}
.profile dd:not(:last-child) {
    float: left;
    margin: 0;
}

dd::before {
    font-weight: normal;
    color: #c0c0c0;
    margin: 0 0.5em;
}

.accounts dd::before,
.activities dd::before {
    content: "-";
}

.profile dd::before,
.likes dd::before {
    content: "/";
    margin: 0 0.25em;
}

.activities dd::before{
    margin-left: 2em;
}

dd {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 0.5rem;
}

.profile-image {
    width: 200px;
    height: 200px;
    image-rendering: pixelated;
}

.grid {
    display: grid;
    overflow: hidden;
}

